
/* Color de fondo */

body {
  background-color: #2a363b;
}

/* Color títulos*/
h1 {
  text-align: center;
  margin-top: 50px; /* Ajusta este valor según tus necesidades */
  color: #99B898;
  font-size: 50px;
  font-family: Helvetica;
}

.collapsible {
  background-color: #393e46;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  width: 100%;
}



/* Centrado de las dos primeras imagenes */
.primerBloque {
  display: flex;
  justify-content: center;
}

/* Fondo de las imagenes */
.avionDespegando, .ticket {
  width: 300px; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #ff874C; 
  margin: 23pt;
  height: 400px;
  width: auto;
}

/* Mover las imgaenes en su contenedor */

.relleno {
  height: 0px; 
}

.avionDespegando img, .ticket img {
  width: 300px;
  height: auto;
  margin-top: 80px;
}