
/* Color de fondo */

body {
  background-color: #919EA9;
}

/* Color títulos*/
h1 {
  text-align: center;
  margin-top: 50px; /* Ajusta este valor según tus necesidades */
  color: #000000;
  font-size: 50px;
  font-family: Arial;
}

p{
  font-family: Helvetica;
}

.collapsible {
  background-color: #393e46;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  width: 100%;
}



/* Centrado de las dos primeras imagenes */
.primerBloque {
  display: flex;
  justify-content: center;
}

/* Centrado de la ultima imagen */
.segundoBloque {
  display: flex;
  justify-content: center;
}

/* Fondo de las imagenes */
.avionDespegando, .ticket {
  width: 500px; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #F4F5F6; 
  margin: 23pt;
}

/* Fondo segunda imagen */
.diagrama {
  width: 500px; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #F4F5F6; 
  
}

/*  Tamaño Imagenes */
.avionDespegando img, .ticket img, .diagrama img {
  width: 300px;
  height: auto;
  margin-top: 80px;
}