
/* Color de fondo */

body {
  background-color: #919EA9;
}

/* Color títulos*/
h1 {
  color: white;
  background-color: #333333;
  text-align: center;
  font-size: 36px;
  padding: 10px;
  font-family: Arial;
  font-size: 40pt;
}

p{
  font-family: Helvetica;
}

.collapsible {
  background-color: #393e46;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  width: 100%;
}

/* Centrado imagenes cabecera */
.encabezado, .primerBloque, .segundoBloque {
  display: flex;
  justify-content: center;
}

/* Fondo de las imagenes */
.avionDespegando, .ticket {
  width: 500px; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #F4F5F6; 
  margin: 23pt;
}

/* Fondo segunda imagen */
.diagrama {
  width: 500px; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #F4F5F6; 
  
}

/* tamaño imagenes cabecera*/

.encabezado img {
  width: 100px;
  height: auto;
  margin-top: 80px;
  margin-bottom: 20px;
}


/*  Tamaño Imagenes */
.avionDespegando img, .ticket img, .diagrama img {
  width: 300px;
  height: auto;
  margin-top: 80px;
}