{% extends 'base_destinos.html' %} {% block head %}
<title>Vuelos de aeropuertos</title>
{% endblock %} {% block body %}
<!--definimos un div para la funcion colapsable a modo de menú con sus fotos -->
<div class="collapsible">
  <button class="collapsible" onclick="toggleCollapsible()">
    <img src="{{ url_for('static', filename='/imagenes/menu.png') }}" alt="" />
  </button>
  <div class="content" id="collapsibleContent">
    <div class="primerBloque">
      <div class="enlaceSalidas">
        <a href="{{ url_for('ver_rutas_aerolineas') }}">
          <img
            src="{{ url_for('static', filename='/imagenes/departures.png') }}"
            alt="avionDespegando"
          />
        </a>
      </div>
      <div class="enlaceVuelo">
        <a href="{{ url_for('buscar_avion') }}">
          <img
            src="{{ url_for('static', filename='/imagenes/boardingPass.png') }}"
            alt="ticket"
          />
        </a>
      </div>
      <div class="diagrama">
        <a href="{{ url_for('grafico') }}">
          <img
            src="{{ url_for('static', filename='/imagenes/grafo.png') }}"
            alt="ticket"
          />
        </a>
      </div>
    </div>
  </div>
  <script>
    function toggleCollapsible() {
      var content = document.getElementById("collapsibleContent");
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    }
  </script>
</div>

<!--definimos  la entrada de datos para las consultas-->
<h1>Introduce el nombre del aeropuerto</h1>
<form action="/informacion-de-los-aeropuertos" method="GET">
  <input type="text" name="aeropuerto" placeholder="Nombre del aeropuerto" />
  <button type="submit">Buscar</button>
  <button type="button" onclick="location.href='/borrar_avion'">Borrar</button>
</form>
{% if error %}
<p class="error">{{ error }}</p>
{% else %} {% if aeropuerto %}
<div class="resultados">
  <h2>Resultados para {{aeropuerto}}:</h2>
  {% if resultados %}
  <ul>
    {% for routeId, airline in resultados %}
    <li>Ruta: {{routeId}}, Aerolínea: {{airline}}</li>
    {% endfor %}
  </ul>
  {% elif busqueda_realizada %}
  <p>No se encontraron resultados.</p>
  {% endif %}
</div>
{% endif %}
<ul>
  {% for id_ruta, aerolinea in datos_zip %}
  <p>RouteId: {{ id_ruta }}, Aerolínea: {{ aerolinea }}</p>
  {% endfor %}
</ul>
{% endif %} {% endblock %}
