{% extends 'base_destinos.html' %} {% block head %}
<title>Vuelos de aeropuertos</title>
{% endblock %} {% block body %}
<h1>Introduce el nombre del aeropuerto</h1>
<form action="/informacion-de-los-aeropuertos" method="GET">
  <input type="text" name="aeropuerto" placeholder="Nombre del aeropuerto" />
  <button type="submit">Buscar</button>
  <button type="button" onclick="location.href='/borrar_aerolinea'">
    Borrar
  </button>
</form>
{% if error %}
<p class="error">{{ error }}</p>
{% else %} {% if aeropuerto %}
<div class="resultados">
  <h2>Resultados para {{aeropuerto}}:</h2>
  {% if resultados %}
  <ul>
    {% for routeId, airline in resultados %}
    <li>Ruta: {{routeId}}, Aerolínea: {{airline}}</li>
    {% endfor %}
  </ul>
  {% elif busqueda_realizada %}
  <p>No se encontraron resultados.</p>
  {% endif %}
</div>
{% endif %}
<ul>
  {% for id_ruta, aerolinea in datos_zip %}
  <p>RouteId: {{ id_ruta }}, Aerolínea: {{ aerolinea }}</p>
  {% endfor %}
</ul>
{% endif %} {% endblock %}
