{% extends 'base_diagrama.html' %}
{% block head%}

{% endblock %}

{% block body%}

<h1>Diagrama Entidad Relacion</h1>

<div class="Imagen">
    <img src="{{ url_for('static', filename='/imagenes/esquemaER.png') }}" alt="avionDespegando">
</div>

<div class="collapsible">
  <button class="collapsible" onclick="toggleCollapsible()">
    <img src="{{ url_for('static', filename='/imagenes/menu.png') }}" alt="">
  </button>
  <div class="content" id="collapsibleContent">
    <div class="primerBloque">
      <div class="enlaceSalidas">
          <a href="{{ url_for('ver_rutas_aerolineas') }}">
              <img src="{{ url_for('static', filename='/imagenes/departures.png') }}" alt="avionDespegando">
          </a>
         
      </div>
      <div class="enlaceVuelo">
          <a href="{{ url_for('buscar_avion') }}">
              <img src="{{ url_for('static', filename='/imagenes/boardingPass.png') }}" alt="ticket">    
          </a>
          
      </div>
      <div class="diagrama">
        <a href="{{ url_for('grafico') }}">
            <img src="{{ url_for('static', filename='/imagenes/grafo.png') }}" alt="ticket">    
        </a>
        
    </div>
    
  </div>
</div>
<script>
  function toggleCollapsible() {
    var content = document.getElementById("collapsibleContent");
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  }
</script>

{% endblock %}
</body>
</html>