
{% extends 'base_menu.html' %}

{% block head %}
<title>Flight radar</title>
{% endblock %}

{% block body %}

<body>
<h1>Flight radar</h1>


<div class="primerBloque">
    <div class="avionDespegando">
        <a href="{{ url_for('ver_rutas_aerolineas') }}">
            <img src="{{ url_for('static', filename='/imagenes/airplaneTakeOff.png') }}" alt="avionDespegando">
        </a>
        <p>RUTAS ACTIVAS AEROPUERTOS ESPAÑOLES</p>
    </div>
    <div class="ticket">
        <a href="{{ url_for('buscar_avion') }}">
            <img src="{{ url_for('static', filename='/imagenes/planeInfo.png') }}" alt="ticket">    
        </a>
        <p>BUSCA LA INFORMACIÓN DE TU VUELO</p>
    </div>
</div>


<div class="segundoBloque">

    <div class = "diagrama">
        <a href="{{ url_for('ver_rutas_aerolineas') }}">
            <img src="{{ url_for('static', filename='/imagenes/diagrama.png') }}" alt="grafico">
        </a>
        <p>GRÁFICO DE RUTAS ACTIVAS</p>
    </div>
</div>



</body>



{% endblock %}