<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Color y tamaño del boton */
        .collapsible {
            background-color: #a61414;
            cursor: pointer;
            padding: 18px;
            text-align: left;
            border: none;
            outline: none;
            width: 100%;
        }

        /* color y tamaño de lo que está dentro */
        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #2a6dd8;
        }
    </style>
</head>
<body>

<!-- Collapsible section -->
<button class="collapsible" onclick="toggleCollapsible()">MESSI MESSI MESSI</button>
<div class="content" id="collapsibleContent">
    <p>Poner aqui todos los datos o las opciones o lo que vayamos a poner</p>
</div>

<script>
    function toggleCollapsible() {
        var content = document.getElementById("collapsibleContent");
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    }
</script>

</body>
</html>