{% extends 'base_seleccion.html' %} {% block head %}
<title>Consulta de Información de Avión</title>
{% endblock %} {% block body %}
<h1>Consulta de Información de Avión</h1>
<form method="GET" action="{{ url_for('buscar_avion') }}">
  <label for="route_id">Introduce el Route ID:</label>
  <input type="text" name="route_id" id="route_id" required />
  <button type="submit">Buscar</button>
  <button type="submit" formaction="{{ url_for('borrar_avion') }}">
    Borrar
  </button>
</form>
{% if error %}
<div class="error-container">
  <div class="error">{{ error }}</div>
</div>
{% endif %} {% if vuelo %}
<div class="styled-div">
  <p>Route ID: {{ vuelo[6].routeId }}</p>
  <p>Departure Code: {{ vuelo[1].departure_code }}</p>
  <p>IATA Code: {{ vuelo[2].iataCode }}</p>
  <p>Airline: {{ vuelo[3].airline }}</p>
  <p>Destination: {{ vuelo[4].destination }}</p>
  <p>Flight Status: {{ vuelo[5].flightStatus }}</p>
  <p>Name: {{ vuelo[7].name }}</p>
  <p>Latitude: {{ vuelo[8].latitude }}</p>
  <p>Longitude: {{ vuelo[9].longitude }}</p>
</div>
{% endif %} {% endblock %}
